
@import '~bootstrap/scss/bootstrap.scss'
@import './variables.css'
  
@font-face
  font-family: 'Montserrat'
  src: url('./fonts/Montserrat/Montserrat-Regular.ttf') format('truetype')

@font-face
  font-family: 'Montserrat-SemiBold'
  src: url('./fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype')

@font-face
  font-family: 'Montserrat-Bold'
  src: url('./fonts/Montserrat/Montserrat-Bold.ttf') format('truetype')

@font-face
  font-family: 'Montserrat-ExtraBold'
  src: url('./fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype')


$dark: rgb(17, 17, 22)
$light: white
$main: rgb(244, 20, 52)

$breakpoint-1200: 1200px
$breakpoint-1024: 1024px
$breakpoint-768: 768px
  
// $border-width: var(--border-width)
$border-width: var(--border-width)

// $header-margin: var(--header-margin)
$header-border: var(--header-border)
// $header-padding: var(--header-padding)
$header-margin: calc(#{$border-width} * 5)
// $header-border: calc(#{$border-width} / 4)
$header-padding: calc(#{$border-width} * 2.5)


// ::-webkit-scrollbar
//   width: 0
//   height: 0


.desktop-only
  @media screen and ( max-width: $breakpoint-1024 )
    display: none
.mobile-only
  @media screen and ( min-width: $breakpoint-1024 + 1px)
    display: none

.noselect
  -webkit-touch-callout: none;  /* iOS Safari */
  -webkit-user-select: none;    /* Safari */
  -khtml-user-select: none;     /* Konqueror HTML */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* Internet Explorer/Edge */
  user-select: none;            /* Non-prefixed version, currently supported by Chrome and Opera */

.button
  padding: 0
  cursor: pointer
  outline: none
  border: none
  background-color: rgba(0, 0, 0, 0)

b
  font-family: 'Montserrat-SemiBold'

a.lev-link
  color: $main !important
  @extend .text-nowrap
  &:hover
    color: $main !important
    text-decoration: underline !important

h1, h2, h3, h4, h5, h6
  font-family: 'Montserrat-Bold'

*
  font-family: 'Montserrat', sans-serif
  margin: 0
  box-sizing: border-box
  @extend .noselect
  // overflow: hidden


.container
  max-width: 768px


.App
  width: 100%
  height: 100%
  overflow-y: scroll
  @extend .d-flex
  @extend .flex-column
  @extend .justify-content-around
  color: $dark
  background-color: $light
  &--black
    color: $light
    background-color: $dark



.frame
  width: 100%
  @extend .d-flex
  @extend .flex-column
  @extend .justify-content-around
  position: relative
  padding: 3vw
  @media screen and ( max-width: $breakpoint-1024 )
    padding: 25px
  &::after
    content: ''
    position: absolute
    top: 3vw
    right: 3vw
    width: 30px
    height: 30px
    @media screen and ( max-width: $breakpoint-1024 )
      top: 20px
      right: 20px
      width: 15px
      height: 15px
    border-radius: 20px
    background-color: $main
    animation: flash 1.5s ease infinite
    @keyframes flash
      0%
        opacity: 0
      50%
        opacity: 1
      100%
        opacity: 0
  &__corner
    position: absolute
    width: 3vw
    height: 3vw
    // border: $border-width solid $dark
    border: $header-border solid $dark
    @media screen and ( max-width: $breakpoint-1024 )
      width: 35px
      height: 35px
    &--top
      border-bottom: none
      top: 0
    &--bottom
      border-top: none
      bottom: 0
    &--bottom, &--top
      &--left
        left: 0
        border-right: none
      &--right
        right: 0
        border-left: none

.App--black .frame__corner
  border-color: $light

.type-animation
  &__text-area
    width: 100%
    position: relative
    padding-right: 10%
  &__invisible-text
    opacity: 0
    width: 100%
  &__visible-text
    top: 0
    left: 0
    position: absolute
    width: 100%
    *
      width: 100%
  &__caret
    display: inline
    opacity: 0
    transition: opacity .05s
    color: $main
    &--visible
      opacity: 1


.Header
  position: relative
  width: 100%
  height: 100vh
  margin-bottom: 7vh
  @media screen and ( max-width: $breakpoint-1024 )
    height: 75vh
  &__logo, &__cosmos
    z-index: 26
    position: absolute
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    cursor: pointer
  &__logo
    --logo-width: 50%
    width: var(--logo-width)
    padding-top: calc(var(--logo-width) * .32)
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    @media screen and ( max-width: $breakpoint-1024 ) and (orientation: portrait)
      --logo-width: 60%
    @media screen and ( max-width: $breakpoint-1024 ) and (orientation: landscape)
      --logo-width: 30%
    background-image: url('./img/logo.svg')
    .App--black &
      background-image: url('./img/logo-dark.svg')
  &__cosmos
    --cosmos-width: 20%
    width: var(--cosmos-width)
    padding-top: calc(var(--cosmos-width) * .24)
    @media screen and ( max-width: $breakpoint-1024 ) and (orientation: portrait)
      --cosmos-width: 35%
    @media screen and ( max-width: $breakpoint-1024 ) and (orientation: landscape)
      --cosmos-width: 20%
    top: calc(#{$header-margin} + #{$header-padding})
    left: $header-padding
    background-image: url('./img/cosmos-logo.svg')
    .App--black &
      background-image: url('./img/cosmos-logo-dark.svg')
  &__age
    cursor: pointer
    position: absolute
    top: calc(#{$header-margin} + #{$header-padding})
    right: $header-padding
    font-family: Montserrat-SemiBold
    font-size: 2em
    @media screen and ( max-width: $breakpoint-1024 ) and (orientation: landscape)
      font-size: 1.7em
    letter-spacing: .1em
    z-index: 26
  &__gull, &__bicycle, &__gang
    position: absolute
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    opacity: 1
  &__gull
    z-index: 25
    --gull-width: 90%
    width: var(--gull-width)
    padding-top: calc(var(--gull-width) * .54)
    top: -10%
    left: -10%
    @media screen and ( max-width: $breakpoint-1024 ) and (orientation: portrait)
      --gull-width: 100%
      top: -10%
    @media screen and ( max-width: $breakpoint-1024 ) and (orientation: landscape)
      --gull-width: 50%
      top: 0%
      left: 15%
    background-image: url('./img/gull.png')
    .App--black &
      background-image: url('./img/gull-dark.png')
  &__bicycle
    z-index: 25
    --bicycle-width: 70%
    width: var(--bicycle-width)
    padding-top: calc(var(--bicycle-width) * 1.028)
    bottom: -10%
    right: -5%
    @media screen and ( max-width: $breakpoint-1024 ) and (orientation: portrait)
      bottom: -3%
    @media screen and ( max-width: $breakpoint-1024 ) and (orientation: landscape)
      --bicycle-width: 30%
      bottom: 0%
      right: 5%
    background-image: url('./img/bicycle.png')
    .App--black &
      background-image: url('./img/bicycle-dark.png')
  &__gang
    z-index: 24
    --gang-width: 15%
    width: var(--gang-width)
    padding-top: calc(var(--gang-width) * 2.127)
    bottom: calc(#{$header-margin} + #{$header-padding})
    left: $header-padding
    @media screen and ( max-width: $breakpoint-1024 ) and (orientation: portrait)
      --gang-width: 25%
    @media screen and ( max-width: $breakpoint-1024 ) and (orientation: landscape)
      --gang-width: 10%
      // bottom: calc(#{$header-margin} + #{$header-padding})
      // left: $header-padding
    background-image: url('./img/gang.png')
    .App--black &
      background-image: url('./img/gang-dark.png')

  &__line
    position: absolute
    background-color: $dark
    .App--black &
      background-color: $light
    &--top
      // width: calc(100% - #{$header-margin} * 2)
      width: 100%
      top: $header-margin
      // left: $header-margin
      left: 0
      height: $header-border
      z-index: 23
    &--left, &--right
      width: $header-border
      height: calc(100% - #{$header-margin} * 2)
      top: $header-margin
    &--left
      // left: $header-margin
      left: 0
      z-index: 26
    &--right
      // right: $header-margin
      right: 0
      z-index: 23
  &__bottom
    position: absolute
    // left: $header-margin
    left: 0
    bottom: 0
    // width: calc(100% - #{$header-margin} * 2)
    width: 100%
    height: calc(#{$header-margin} * 2 + #{$header-border})
    line-height: calc(#{$header-margin} * 2 + #{$header-border})
    @extend .d-flex
    @extend .flex-row
    z-index: 23
    &__text
      font-family: Montserrat-SemiBold
      *
        font-family: Montserrat-SemiBold
      letter-spacing: .2em
      font-size: 1.2em
    &__left, &__right
      flex-grow: 1
      margin-top: $header-margin
      margin-bottom: $header-margin
      height: $header-border
      background-color: $dark
      .App--black &
        background-color: $light
      position: relative
      &::after
        content: ''
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: calc(#{$header-border} * 7)
        height: calc(#{$header-border} * 7)
        background-color: inherit
    &__left
      margin-right: calc(#{$header-padding} / 2)
      &::after
        right: 0
    &__right
      margin-left: calc(#{$header-padding} / 2)
      &::after
        left: 0



.description
  position: relative
  z-index: 26
  @extend .mb-5
  &__0, &__2, &__3, &__4
    @extend .text-justify
    padding: 0 15px
    font-size: 18px
    @media screen and ( max-width: $breakpoint-1024 )
      font-size: 16px
  &__1, &__5
    *
      font-family: 'Montserrat-SemiBold'
    text-align: center
    font-size: 24px
    @media screen and ( max-width: $breakpoint-1024 )
      font-size: 20px
    margin: 35px 0


.credits
  line-height: 1.75
  font-size: 18px
  @extend .text-center
  @media screen and ( max-width: $breakpoint-1024 )
    font-size: 16px
  h2
    text-align: center
    margin-bottom: 30px
  &__lines
    position: relative
    &__item
      color: rgba(0, 0, 0, 0)
      & > a
        color: rgba(0, 0, 0, 0) !important
      width: 100%
      height: 
      &__block
        width: 100%
        color: $dark
        background-color: $light
        position: absolute
        left: 0
        transition: top 1s
        z-index: 10
        &::before
          content: ''
          z-index: 15
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          box-shadow: 0 0 10px $dark
          opacity: 0
          transition: opacity .2s
        &--swapped
          z-index: 20 !important
          &::before
            opacity: .5

.App--black .credits__lines__item__block
  color: $light
  background-color: $dark
  &::before
    box-shadow: 0 0 10px $light




.start
  margin: auto
  margin-top: 120px
  margin-bottom: 100px
  width: calc(100% - #{$border-width} * 8)
  line-height: 3
  font-size: 30px
  text-align: center
  // border: $border-width solid $dark
  border: $header-border solid $dark
  position: relative
  animation: inside1 1.5s infinite
  @keyframes inside1
    0%
      border-color: $dark
    66%
      border-color: $dark
    67%
      border-color: $main
    99%
      border-color: $main
    100%
      border-color: $dark
  &::before, &::after
    content: ''
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    // border: $border-width solid $dark
    border: $header-border solid $dark
  &::before
    width: calc(100% + #{$border-width} * 6)
    height: calc(100% + #{$border-width} * 6)
    animation: inside2 1.5s infinite
    @keyframes inside2
      0%
        border-color: $dark
      32%
        border-color: $dark
      33%
        border-color: $main
      66%
        border-color: $main
      67%
        border-color: $dark
      100%
        border-color: $dark
  &::after
    width: calc(100% + #{$border-width} * 10)
    height: calc(100% + #{$border-width} * 10)
    animation: inside3 1.5s infinite
    @keyframes inside3
      0%
        border-color: $main
      32%
        border-color: $main
      33%
        border-color: $dark
      100%
        border-color: $dark

.App--black
  .start
    border-color: $light
    animation: inside1d 1.5s infinite
    @keyframes inside1d
      0%
        border-color: $light
      66%
        border-color: $light
      67%
        border-color: $main
      99%
        border-color: $main
      100%
        border-color: $light
    &::before, &::after
      border-color: $light
    &::before
      animation: inside2d 1.5s infinite
      @keyframes inside2d
        0%
          border-color: $light
        32%
          border-color: $light
        33%
          border-color: $main
        66%
          border-color: $main
        67%
          border-color: $light
        100%
          border-color: $light
    &::after
      animation: inside3d 1.5s infinite
      @keyframes inside3d
        0%
          border-color: $main
        32%
          border-color: $main
        33%
          border-color: $light
        100%
          border-color: $light



.fader
  width: 100vw
  height: 100vh
  position: fixed
  z-index: 100
  top: 0
  left: 0
  background-color: $light
  opacity: 1
  transition: opacity 2s
  &--transparent
    opacity: 0
  &--hidden
    @extend .d-none


$red: $main
$yellow: #f4d214
$green: #11d111

.faq
  // border: $border-width solid $dark
  border: $header-border solid $dark
  margin-bottom: 80px
  height: 50vh
  min-height: 200px
  h1
    font-family: Montserrat
    font-size: 3.5rem
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)    
  padding: calc(#{$border-width} * 3.5)
  position: relative
  &__container
    position: relative
    top: 0
    left: 0
    width: 100%
    height: 100%
  &__item
    position: absolute
    // font-family: 'Montserrat-SemiBold'
    font-family: Montserrat
    text-align: center
    font-size: calc(#{$border-width} * 7)
    width: calc(#{$border-width} * 7)
    height: calc(#{$border-width} * 7)
    line-height: calc(#{$border-width} * 7)
    border-radius: calc(#{$border-width} * 7)
    transform: translate(-50%, -50%)
    cursor: pointer
    &::after
      content: ''
      position: absolute
      top: 50%
      left: 50%
      width: 100%
      height: 100%
      border-radius: calc(#{$border-width} * 7)
      transform: translate(-50%, -50%)
      animation: pulse 1s infinite
      @keyframes pulse
        0%
          opacity: 1
          transform: translate(-50%, -50%) scale(1)
        100%
          opacity: 0
          transform: translate(-50%, -50%) scale(1.5)          
    &--red
      background-color: $red
      &::after
        border: 4px solid $red
    &--yellow
      background-color: $yellow
      &::after
        border: 4px solid $yellow
    &--green
      background-color: $green
      &::after
        border: 4px solid $green
  &__background
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 120vh
    // opacity: .95
    cursor: pointer
    z-index: 30
    &--red
      background-color: $red
    &--yellow
      background-color: $yellow
    &--green
      background-color: $green
  &__window
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 50vw
    @media screen and ( max-width: $breakpoint-1200 )
      width: 70vw
    @media screen and ( max-width: $breakpoint-1024 )
      width: 60vw
    @media screen and ( max-width: $breakpoint-768 )
      width: 80vw
    height: 80vh
    border: $header-border solid $dark
    background-color: $light
    z-index: 2000
    &__cross
      cursor: pointer
      position: absolute
      top: calc(#{$border-width} * 2)
      right: calc(#{$border-width} * 2)
      width: calc(#{$border-width} * 2)
      height: calc(#{$border-width} * 2)
      &::before, &::after
        content: ''
        position: absolute
        top: 50%
        right: -50%
        width: calc(#{$border-width} * 4)
        height: calc(#{$header-border})
        background-color: $dark
      &::before
        transform: translate(0, -50%) rotate(-45deg)
      &::after
        transform: translate(0, -50%) rotate(45deg)
    &__content
      width: 100%
      height: 100%
      overflow-y: scroll
      padding: 50px
      @media screen and ( max-width: $breakpoint-1024 )
        padding: 40px
      @media screen and ( max-width: $breakpoint-768 )
        padding: 30px
      &__title
        font-family: 'Montserrat-SemiBold'
        text-align: center
        margin-bottom: 35px
        font-size: 24px
        @media screen and ( max-width: $breakpoint-1024 )
          font-size: 20px
      &__text
        @extend .text-justify
        font-size: 18px
        @media screen and ( max-width: $breakpoint-1024 )
          font-size: 16px

  .App--black &
    border-color: $light
  // .App--black &__window
  //   border-color: $light
  //   background-color: $dark
  // .App--black &__cross::before, .App--black &__cross::after
  //   background-color: $light



.documents
  @extend .my-5
  @extend .py-3
  &__text
    @extend .text-center
    @extend .font-italic
  &__files
    @extend .d-flex
    @extend .flex-column
    margin: auto
    &__item
      position: relative
      padding-left: 1.5em
      &::before
        content: ''
        position: absolute
        left: 0
        top: 50%
        transform: translateY(-55%)
        width: 1em
        height: 1em
        background-image: url(./img/download.svg)
        background-repeat: no-repeat
        background-position: center
        background-size: contain
