:root {
  --border-width: 10px;
}

@media screen and ( max-width: 1024px ) {
  :root {
    --border-width: 8px;
  }
}

@media screen and ( max-width: 768px ) {
  :root {
    --border-width: 8px;
  }
}
  
@media screen and ( max-width: 576px ) {
  :root {
    --border-width: 7px;
  }
}
  